SUPABASE_API_URL="https://your-project.supabase.co"
SUPABASE_ANON_KEY="anon-key"

SUPABASE_SERVICE_ROLE_KEY="service-role-key"
ADMIN_PASSWORD="your admin password here"

WEB3FORMS_API_KEY="web3forms-api-key"
SUGGESTIONS_TO_EMAIL="example@email.com"

SUPABASE_JWT_SECRET="project jwt secret"